body{
	margin: 0;
	line-height: 1.6;
	background: #f3f1f2;
	
}

*,
*:after,
*:before{
	box-sizing: border-box;
}

h1, h2, h3, h4, h5{
	margin: 0;
}

a{
	text-decoration: none;
	color: black;
}
nav{
	display: inline-flex;
}

.body{
	text-align: center;
	text-transform: uppercase;
	font-size: 50px;
	margin: 50px 0px;
	font-family: 'Alfa Slab One', cursive;

}

.container{
	width: 100%;
	max-width: 1850px;
	margin: 0 auto;

}
.bacgraund{
	background-color: white;
	border: 3px solid grey;
	border-bottom:none ;
	border-radius: 10px 10px 0px 0px;
	
}
.header_inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin: 0px 150px;
	padding: 70px 0px;
	

}
.header_logo{
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Alfa Slab One', cursive;
	
}
.nav_about{
	padding: 30px;
	color: black;
	text-transform: uppercase;

}

/*section*/

.section_inner{
	

}
.section_img{
	text-align: center;
	padding: 50px 0px;
}
.section_about{
	width: 100%;
	max-width:60%;
	margin: 50px 20%;


}
.photo{
	text-transform: uppercase;
	color: #a68e9e;
	margin: 10px 0px;
	opacity: .7;

}
.about_logo{
	margin: 10px 0px;
	font-size: 40px;
	font-family: 'Permanent Marker', ;
	color:#504d6e ;
	
}
.about_title{
	color:#504d6e ;
	font-style: italic;
}

.section_gallery{
	margin-top: 150px;
}

.img_galery{
	width: 500px;
	height: 420px;
}
.section_gallery{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 60%;
	margin-left: 20%;	

}
.section_row{
	flex: 1 1 50%;
	margin-bottom: 150px;
}
.about_title_title{
	padding-right: 50px;
}

/*search*/
.inner_search{
	border: 3px solid grey;
	border-top: none;
	border-bottom:none ;
}
.searh_logo{
	text-align: center;
	font-size: 50px;
	font-weight: 700;
	padding-top: 200px;
	
}
.search_wrapper{
	margin-top: 100px;
	margin-left: 34%;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	max-width: 30%;
	padding-bottom: 100px;
}
.search_wrapper:after{
	content: "";
	width: 550px;
	height: 3px;
	display: block;
	background-color: black;
	position: absolute;
	margin-top: 40px;

}
.email{
	opacity: .5;
	margin-top: 5px;
}
.bacgraund_background{
	border-top: none;
	border-bottom: none;
	
	border-radius: 0px 0px 5px 5px;
	margin-top: -150px;
}
/*section*/
.second{
	padding-top: 10px;
	margin-top: 150px;
	border-bottom: none;
	padding-bottom: 100px;

}
.btn_section{
	text-align: center;

}
.btn{

	text-align: center;
	border:1px solid grey;
	padding: 25px 60px;
	background-color: rgba(0, 0, 0, .0);
}
.text_btn{
	color: black;
	font-weight: 700;
	font-family: 'Permanent Marker', ;
	font-size: 20px;
}
/*footer*/


.inner_footer{
	border: 3px solid grey;
	border-top: none;
	border-bottom:none ;
	

}
.about_footer{
	display: flex;
	justify-content: space-between;
	padding-top:  100px;
	text-align: center;
	align-items: center;
	
	width: 100%;
	max-width: 70%;
	margin-left: 20%;
	padding-bottom: 50px;

}
.logo_footer{
	font-size: 20px;
	font-family: 'Permanent Marker', cursive ;
	font-weight: 700;
	color: black;
	
}
.tit_footer{
	padding-right: 30px;
}
.img_footer{
	
}
.logo{
	padding-right: 50px;

}
